


%button-reset {
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;

  background-color: transparent;

  // NOTE remove select on tabindex buttons
  user-select: none;
}

%input-reset {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;

  // disable ie11 buttons
  &::-ms-clear,
  &::-ms-reveal {
    display: none; width:0; height:0;
  }
}

%typography-color-black-secondary {
  color: rgba(black, 0.54);
}

%typography-color-primary {
  color: rgba(black, 0.87);
}

%full-screen {
  position: fixed;

  @include size(100%);
  left: 0;
  top: 0;

  min-width: 320px;
  overflow: hidden;
}

%window-container {
  position: absolute;
  left: 0;
  top: 0;

  z-index: 1;

  @include size(100%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: rgba(black, 0.36);

  .window-container__content {
    border-radius: 2px;
  }

  .window-container__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
}