


// Colors
$primary-color: #0097A7;
$primary-color-opacity: rgba(0, 131, 143, .15);
$secondary-color: #F57F17;
$error-color: #ff5252;
$success-color: #4caf50;
$info-color: #2196f3;
$warning-color: #ffc107;
$divider-color: lightgrey;
$navigation-link-hover: rgba(255, 255, 255, .3);
$navigation-link-active: rgba(0, 0, 0, .3);
$button-icon-color: #666666;
$disabled-color-opacity: rgba(0, 0, 0, .1);

// Font color
$text-color: #504c4c;
$sub-text-color: #adadad;

// Menu hover color
$menu-hover-color: #0097A7;

// Font size
$primary-font-size: 14px;
$sub-font-size: 13px;
$small-font-size: 12px;

// Headers size
$header6-font-size: 16px;
$header5-font-size: 18px;
$header4-font-size: 20px;
$header3-font-size: 22px;
$header2-font-size: 24px;
$header1-font-size: 26px;

// Width
$menu-width: 56px;
$menu-full-width: 320px;
$list-min-width: 320px;
$content-min-width: 320px;
$chat-optional-width: 320px;

