


@mixin size($val) {
  height: $val;
  width: $val;
}

@mixin between-children {
  &>:not(:last-child) {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin trueconf-scrollbar {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 8px;
    background: rgba(0,0,0,0.15);
    margin: 0px 0px 0px 0px;
  }
  &::-webkit-scrollbar-button:vertical:decrement {
    background: rgba(0,0,0,0.0);
    height: 8px;
  }
  &::-webkit-scrollbar-button:vertical:increment {
    background: rgba(0,0,0,0.0);
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    min-height: 32px;
    background: #999999;
    border-radius: 2px;
    background-clip: content-box;
  }
}

@mixin breakpoint-width($min, $max : 0) {
  @if ($max == 0) {
    @media only screen
    and (min-width: $min) { @content; }
  } @else {
    @media only screen
    and (min-width: $min)
    and (max-width: $max - 1) { @content; }
  }
}

@mixin breakpoint-height($min, $max : 0) {
  @if ($max == 0) {
    @media only screen
    and (min-height: $min) { @content; }
  } @else {
    @media only screen
    and (min-height: $min)
    and (max-height: $max - 1) { @content; }
  }
}

// EXAMPLE
// $mobile-width: 320px;
// $tablet-width: 768px;
// $big-desktop-width: 1000px;
//
// .my-class {
//   font-size: 12px;
//
//   @include breakpoint($mobile-width, $tablet-width) {
//     font-size: 16px;
//   }
//   @include breakpoint($big-desktop-width) {
//     font-size: 18px;
//   }
// }

@mixin breakpoint($args...) {
  @include breakpoint-width($args...) {
    @content;
  }
}

@mixin shadow-3dp() {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
  0 3px 3px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
  0 1px 8px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-4dp() {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
  0 1px 10px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
  0 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

$mobile-width: 320px;
$tablet-width: 696px;
$desktop-width: 1016px;
