


// Application
$main-color: #0099A6;
$main-orange-color: #F57F17;
$main-gray-icon-color: rgba(black, 0.72);
$main-gray-color: #F5F5F5;

$success-color: #00ce00;
$success-faded-color: #66BB6A;

$error-color: #d50000;
$error-faded-color: #D32F2F;

$desktop-size: 1280px;
$tablet-size: 768px;

$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;


// Material Design Lite
$color-primary: "0, 133, 166";
$color-accent: "245, 127, 23";

$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$performance_font: $preferred_font;

$button-primary-color: $main-color;
$button-secondary-color: rgba(black, 0.8);
$button-hover-color: rgba(black, 0.08);
$button-active-color: rgba(black, 0.08);
$button-focus-color: rgba(black, 0.08);

$button-primary-color-alt: $main-orange-color;
$button-secondary-color-alt: white;
$button-hover-color-alt: $main-orange-color;
$button-active-color-alt: $main-orange-color;
$button-focus-color-alt: $main-orange-color;
