@import './partials';

// Local fonts
@import './fonts/Roboto';
@import './fonts/Material-Icons';
// @import './fonts/True-Terminal';

// BOTH builds
@import '~material-design-lite/src/material-design-lite.scss';
@import '~reset-css/sass/_reset.scss';

// Modules
@import './modules/one-line';
@import './modules/main-background';
@import './modules/mdl-style-updated';

body {
  font-size: 14px;
  font-family: $preferred_font;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: $preferred_font;
}

p {
  line-height: normal;
}
