<template>
  <div
  class="mdl-tabs__panel current-processable-connections is-active"
  id="current-processable-connections-panel">
    !! Current processable connections !! Component 2
  </div>
</template>

<script>
  export default {
    name: 'current-processable-connections',
    components: {},
    methods: {},
    computed: {},
    data: () => ({}),
    watch: {}
  };
</script>

<style lang="scss">
  @import "~global";

  .current-processable-connections {}
</style>
