<template>
  <div
  class="mdl-tabs__panel final-connection-consumer-handlers is-active"
  id="final-connection-consumer-handlers-panel">
    !! Final connection consumer-handlers !! Component 3
  </div>
</template>

<script>
  export default {
    name: 'final-connection-consumer-handlers',
    components: {},
    methods: {},
    computed: {},
    data: () => ({}),
    watch: {}
  };
</script>

<style lang="scss">
  @import "~global";

  .final-connection-consumer-handlers {}
</style>
