<template>
  <div class="mdl-tabs__panel listening-ports is-active" id="listening-ports-panel">
    <baseList :list="tableContent" :headers="tableHeader"/>
  </div>
</template>

<script>
  import baseList from '@/components/base-list';

  export default {
    name: 'listening-ports',
    components: {
      baseList
    },
    computed: {
      tableHeader() {
        return [
          {
            title: '#',
            sort: null,
            alt: 'id'
          },
          {
            title: 'Address',
            sort: null,
            alt: 'address'
          },
          {
            title: 'Acceptor Number',
            sort: null,
            alt: 'acceptor_number'
          },
          {
            title: 'Acceptor Max',
            sort: null,
            alt: 'acceptor_max'
          },
          {
            title: 'Rcvd Connection',
            sort: null,
            alt: 'rcvd_connection'
          },
          {
            title: 'Unsuccessful Attempts',
            sort: null,
            alt: 'unsuccessful_attempts'
          }
        ];
      },
      tableContent() {
        return [
          {
            id: '01',
            address: 'Address1',
            acceptor_number: 'Acceptor Number1',
            acceptor_max: 'Acceptor Max1',
            rcvd_connection: 'Rcvd Connection1',
            unsuccessful_attempts: 'Unsuccessful Attempts1'
          },
          {
            id: '02',
            address: 'Address2',
            acceptor_number: 'Acceptor Number2',
            acceptor_max: 'Acceptor Max2',
            rcvd_connection: 'Rcvd Connection2',
            unsuccessful_attempts: 'Unsuccessful Attempts2'
          },
          {
            id: '03',
            address: 'Address3',
            acceptor_number: 'Acceptor Number3',
            acceptor_max: 'Acceptor Max3',
            rcvd_connection: 'Rcvd Connection3',
            unsuccessful_attempts: 'Unsuccessful Attempts3'
          },
          {
            id: '04',
            address: 'Address4',
            acceptor_number: 'Acceptor Number4',
            acceptor_max: 'Acceptor Max4',
            rcvd_connection: 'Rcvd Connection4',
            unsuccessful_attempts: 'Unsuccessful Attempts4'
          }
        ];
      }
    },
    data: () => ({})
  };
</script>

<style lang="scss">
  @import "~global";

  .listening-ports {
    height: 100%;
    width: 100%;
  }
</style>
