<template>
  <div class="base-navigation-bottom">
    <base-input
    value="localhost"
    label="Host"
    floatingLabel
    id="host"/>

    <base-input
    value="123124asdgDGJSjHGDAJBGFJHSAF"
    label="Secret key"
    floatingLabel
    id="Secret key"/>

    <button
    v-mdl
    @click="checkedStatus === null ? checkedStatus = 'checked' : checkedStatus === 'checked' ? checkedStatus = 'invalid' : checkedStatus = null"
    class="mdl-button mdl-js-button mdl-js-ripple-effect"
    :class="{
      'is-checked': checkedStatus === 'checked',
      'is-invalid': checkedStatus === 'invalid'
    }"
    id="base-navigation-bottom__check-btn">
      <i v-if="checkedStatus === 'checked'" class="material-icons">done</i>
      <i v-else-if="checkedStatus === 'invalid'" class="material-icons">close</i>
      <span v-else>Check</span>
    </button>

    <div class="block-refresh">
      <div class="block-refresh__history">
        <button
        v-mdl
        @click="history = !history"
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
        id="block-refresh__history-btn">
          <i class="material-icons">history</i>
          <span v-if="history" class="status"/>
        </button>
        <select
        :disabled="!history">
          <option>2c</option>
          <option>5c</option>
          <option>10c</option>
        </select>
      </div>
      <button
      v-mdl
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons">refresh</i>
      </button>
    </div>
  </div>
</template>

<script>
  import baseInput from '@/components/base-input';

  export default {
    name: 'base-navigation-bottom',
    components: {
      baseInput
    },
    data: () => ({
      history: false,
      checkedStatus: null
    })
  };
</script>

<style lang="scss">
  @import "~global";

  .base-navigation-bottom {
    padding: 16px;
    @include between-children {
      margin-bottom: 16px;
    }

    #base-navigation-bottom__check-btn {
      background-color: $secondary-color;
      border: 1px solid transparent;
      color: white;
      width: 100%;

      &.is-checked {
        background-color: transparent;
        border-color: $success-color;
        color: $success-color;
      }

      &.is-invalid {
        background-color: transparent;
        border-color: $error-color;
        color: $error-color;
      }
    }

    .block-refresh {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .block-refresh__history {
        #block-refresh__history-btn {
          transform: scale(-1, 1);
          position: relative;

          .status {
            background-color: $secondary-color;
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 5px;
            left: 5px;
            border-radius: 50%;
          }
        }

        select {
          background: transparent;
          border-color: $divider-color;
          color: white;
          padding: 8px;
          cursor: pointer;

          option {
            color: black;
          }

          &:disabled {
            background-color: rgba(white, 0.72);
            cursor: default;
          }
        }
      }
    }
  }
</style>
