<template>
  <div class="access-connection-system">
    <div class="title">
      Access Connection System
    </div>

    <div class="content">
      <div v-mdl class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect primary">
        <div class="mdl-tabs__tab-bar">
          <a
          @click="tabContent = 'listening-ports'"
          href="#listening-ports-panel"
          class="mdl-tabs__tab is-active">
            Listening ports and their acceptor
          </a>

          <a
          @click="tabContent = 'current-processable-connections'"
          href="#current-processable-connections-panel"
          class="mdl-tabs__tab">
            Current processable connections
          </a>

          <a
          @click="tabContent = 'final-connection-consumer-handlers'"
          href="#final-connection-consumer-handlers-panel"
          class="mdl-tabs__tab">
            Final connection consumer-handlers
          </a>
        </div>

        <component :is="tabContent"/>
      </div>
    </div>
  </div>
</template>

<script>
  import listeningPorts from './components/listening-ports';
  import currentProcessableConnections from './components/current-processable-connections';
  import finalConnectionConsumerHandlers from './components/final-connection-consumer-handlers';

  export default {
    name: 'access-connection-system',
    components: {
      listeningPorts,
      currentProcessableConnections,
      finalConnectionConsumerHandlers
    },
    methods: {},
    computed: {},
    data: () => ({
      tabContent: 'listening-ports'
    }),
    watch: {}
  };
</script>

<style lang="scss">
  @import "~global";

  .access-connection-system {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;

    .title {
      padding: 16px;
      font-size: $header2-font-size;
      flex: 0 1 auto;

      @include breakpoint($mobile-width, $desktop-width) {
        padding-left: 64px;
      }
    }

    .content {
      flex: 1 100%;
      overflow-y: hidden;

      .mdl-tabs {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        .mdl-tabs__tab-bar {
          flex: 0 1 auto;
          min-height: 48px;
          justify-content: flex-start;
          padding: 0 16px;

          .mdl-tabs__tab {
            text-transform: none;
          }
        }

        .mdl-tabs__panel {
          flex: 1 100%;
        }
      }
    }
  }
</style>
