


.main-background {
  // TODO
  // svg background image for chrome

  // background-image: url('~assets/main-background.svg');
  // background-image: url('svg-base64!~assets/main-background2.svg');
  // background-image: url('svg-base64!assets/main-background2.svg');
  // background-image: url('~svg-base64!assets/main-background2.svg');

  background-image: url('~@/assets/main-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background-wrap {
  position: relative;
  overflow: hidden;
}
.main-background-wrap__image {
  position: absolute;

  display:block;

  left: -10000px;
  top: -10000px;
  right: -10000px;
  bottom: -10000px;
  margin: auto;

  min-height: 100%;
  // height: 100%;
  // display: block;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
