<template>
  <div
  v-mdl
  class="mdl-layout__drawer mdl-color-text--white"
  :class="{
    'mini': !fullMenu
  }"
  id="base-navigation">
    <span
    class="mdl-layout-title"
    :class="{
      'wo-title': !fullMenu
    }">
      <span v-if="fullMenu" class="mdl-layout-title__title">Router Monitor</span>
      <button
      v-mdl
      @click="full = !full"
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i
        v-if="fullMenu"
        class="material-icons">
          close
        </i>
        <i
        v-else
        class="material-icons">
          menu
        </i>
      </button>
    </span>

    <nav
    class="mdl-navigation"
    id="base-navigation--nav">
      <router-link
      v-for="(value, key) in navList"
      :key="key"
      :to="{ name: value.link }"
      class="mdl-navigation__link mdl-color-text--white"
      :class="{
        'is-active': value.active
      }">
        <span v-if="fullMenu" class="text" role="presentation">{{ value.text }}</span>
        <span v-else class="short-text" role="presentation">{{ value.shortText }}</span>
      </router-link>
    </nav>

    <div class="mdl-layout-spacer"/>

    <bottom/>
  </div>
</template>

<script>
  import bottom from './components/bottom';

  export default {
    name: 'base-navigation',
    components: {
      bottom
    },
    computed: {
      navList() {
        return [
          {
            link: 'access-connection-system',
            text: 'Access Connection System',
            shortText: 'ACS',
            active: /access-connection-system/gmi.test(String(this.$route.name).toLowerCase())
          },
          {
            link: 'transport-router',
            text: 'Transport Router',
            shortText: 'TR',
            active: /transport-router/gmi.test(String(this.$route.name).toLowerCase())
          },
          {
            link: 'streams-router',
            text: 'Streams Router',
            shortText: 'SR',
            active: /streams-router/gmi.test(String(this.$route.name).toLowerCase())
          }
        ];
      },
      fullMenu() {
        if (window.innerWidth <= 696) {
          return true;
        }
        return this.full;
      }
    },
    data: () => ({
      full: true
    })
  };
</script>

<style lang="scss">
  @import "~global";

  #base-navigation {
    background-color: #333333;
    transition: width .1s ease-in-out;
    flex: 0 1 auto;
    position: relative;
    max-width: 240px;
    min-width: 240px;

    .mdl-layout-title {
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .mdl-navigation {
      .mdl-navigation__link {
        padding: 16px;

        &.is-active {
          background-color: $menu-hover-color !important;
          color: white;
          outline: none;
          cursor: default;
        }

        &:hover {
          background-color: $menu-hover-color !important;
          color: white;
          outline: none;
        }
      }
    }

    &.mini {
      max-width: 56px;
      min-width: 56px;

      .mdl-layout-title {
        padding: 16px 0;

        .mdl-button {
          margin: 0 auto;
        }
      }

      .mdl-navigation {
        .mdl-navigation__link {
          padding: 16px 0;
          text-align: center;
        }
      }
    }

    @include breakpoint($mobile-width, $desktop-width) {
      position: absolute;

      &.mini {
        max-width: 240px;
        min-width: 240px;

        * {
          all: unset;
        }
      }
    }
  }
</style>
