<template>
  <div class="base-list-wrapper">
    <div class="filter-block__wrapper">
      <div class="filter-block">
        <i class="material-icons">filter_list</i>

        <div class="filters-chips">
          <span
          v-if="filtersEmpty"
          class="label">Filter</span>
          <template v-else>
            <template v-for="(hValue, hKey) in headers">
              <span
              v-if="filterModal.list[hValue.alt] !== '' && settingsModal.fields[hValue.alt]"
              :key="hKey"
              class="mdl-chip mdl-chip--deletable">
                <span class="mdl-chip__text">{{ filterModal.list[hValue.alt] }}</span>
                <button
                @click="removeFilter(hValue.alt)"
                type="button"
                class="mdl-chip__action">
                  <i class="material-icons">cancel</i>
                </button>
              </span>
            </template>
          </template>
        </div>

        <button
        v-mdl
        @click.stop="filterModal.show = !filterModal.show"
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
        id="filter-modal--show-btn">
          <i class="material-icons">arrow_drop_down</i>
        </button>

        <base-menu-popover
        v-if="filterModal.show"
        @close="onCloseFilterModal"
        id="filter-modal">
          <div class="filter-search-wrapper">
            <table>
              <colgroup>
                <col width="20%">
                <col width="80%">
              </colgroup>
              <template v-for="(value, key) in headers">
                <tr
                v-if="settingsModal.fields[value.alt]"
                :key="key">
                  <td>
                    <label :for="`filter-modal__input-${value.alt}`">
                      {{ value.title }}
                    </label>
                  </td>
                  <td>
                    <input
                    type="text"
                    :value="filterModal.list[value.alt]"
                    :id="`filter-modal__input-${value.alt}`">
                  </td>
                </tr>
              </template>
            </table>
            <div class="action-footer">
              <button
              v-mdl
              @click="onApplyFilters"
              class="mdl-button mdl-js-button mdl-js-ripple-effect"
              id="filter-modal--apply-btn">
                Apply
              </button>
            </div>
          </div>
        </base-menu-popover>
      </div>

      <div class="settings-wrapper">
        <button
        v-mdl
        @click.stop="settingsModal.show = !settingsModal.show"
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons">settings</i>
        </button>

        <base-menu-popover
        v-if="settingsModal.show"
        @close="settingsModal.show = false"
        width="auto"
        id="settings-modal">
          <ul class="mdl-list">
            <template v-for="(value, key) in headers">
              <li :key="key" class="mdl-list__item">
                <label
                v-mdl
                class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                :for="`checkbox-${value.alt}`">
                  <input
                  @change="toggleHeader(value.alt)"
                  :checked="settingsModal.fields[value.alt]"
                  type="checkbox"
                  class="mdl-checkbox__input"
                  :id="`checkbox-${value.alt}`">
                  <span class="mdl-checkbox__label">{{ value.title }}</span>
                </label>
              </li>
            </template>
          </ul>
        </base-menu-popover>
      </div>
    </div>

    <div class="table-block">
      <table
      v-mdl
      class="mdl-data-table mdl-js-data-table"
      id="base-list__table">
        <thead>
          <tr>
            <template
            v-for="(value, key) in headers">
              <th
              v-if="settingsModal.fields[value.alt]"
              :key="key"
              class="sort"
              :class="{
                'sort-asc': value.sort === 'asc',
                'sort-desc': value.sort === 'desc'
              }"
              :data-sort="value.title">
                {{ value.title }}
              </th>
            </template>
          </tr>
        </thead>

        <tbody>
          <tr
          v-for="(item, iKey) in filteredList"
          :key="iKey">
            <template v-for="(header, hKey) in headers">
              <td
              v-if="settingsModal.fields[header.alt]"
              :key="hKey">
                {{ item[header.alt] }}
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="footer">
      Listeners count: {{ filteredList | countList }}
    </div>
  </div>
</template>

<script>
  import baseMenuPopover from '@/components/base-menu-popover';
  import filter from 'lodash/filter';
  import forEach from 'lodash/forEach';

  export default {
    name: 'base-list',
    components: {
      baseMenuPopover
    },
    props: {
      list: {
        type: Array,
        required: true,
        default: () => []
      },
      headers: {
        type: Array,
        required: true,
        default: () => []
      }
    },
    created() {
      forEach(this.headers, (header) => {
        this.$set(this.filterModal.list, header.alt, '');
        this.$set(this.settingsModal.fields, header.alt, true);
      });
    },
    methods: {
      onApplyFilters() {
        // let list;
        forEach(this.headers, (header) => {
          this.$set(this.filterModal.list, header.alt, document.getElementById(`filter-modal__input-${header.alt}`).value);
          // list[header.alt] = document.getElementById(`filter-modal__input-${header.alt}`).value;
        });
        // this.$set(this.filterModal, 'list', list);
        this.onCloseFilterModal();
      },
      onCloseFilterModal() {
        this.$set(this.filterModal, 'show', false);
      },
      removeFilter(alt) {
        this.$set(this.filterModal.list, alt, '');
      },
      toggleHeader(alt) {
        if (!this.settingsModal.fields[alt]) {
          this.$set(this.filterModal.list, alt, '');
        }
        this.$set(this.settingsModal.fields, alt, !this.settingsModal.fields[alt]);
      }
    },
    computed: {
      filtersEmpty() {
        let empty = true;
        forEach(this.headers, (header) => {
          empty = empty && this.filterModal.list[header.alt] === '';
        });
        return empty;
      },
      filteredList() {
        return filter(this.list, (item) => {
          const filters = this.filterModal.list;
          let showItem = true;
          forEach(this.headers, (header) => {
            if (this.settingsModal.fields[header.alt]) {
              showItem = showItem && item[header.alt].toString().indexOf(filters[header.alt]) > -1;
            }
          });
          // let showItem = (item.id.toString().indexOf(filters.id) > -1)
          //   && item.address.indexOf(filters.address) > -1
          //   && item.acceptor_number.indexOf(filters.acceptor_number) > -1
          //   && item.acceptor_max.indexOf(filters.acceptor_max) > -1
          //   && item.rcvd_connection.indexOf(filters.rcvd_connection) > -1
          //   && item.unsuccessful_attempts.indexOf(filters.unsuccessful_attempts) > -1;
          // if (filters.id === ''
          //   && filters.address === ''
          //   && filters.acceptor_number === ''
          //   && filters.acceptor_max === ''
          //   && filters.rcvd_connection === ''
          //   && filters.unsuccessful_attempts === '') {
          //   showItem = true;
          // }
          return showItem;
        });
      }
    },
    data: () => ({
      filterModal: {
        show: false,
        list: {}
      },
      settingsModal: {
        show: false,
        fields: {}
      }
    }),
    filters: {
      countList(value) {
        return value.length;
      }
    },
  };
</script>

<style lang="scss">
  @import "~global";

  .base-list-wrapper {
    display: flex !important;
    flex-flow: column nowrap;
    height: 100%;

    .filter-block__wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 16px 16px 0 16px;
      position: relative;

      .filter-block {
        flex: 1 100%;
        border: 1px solid $divider-color;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 8px;
        position: relative;

        @include between-children {
          margin-right: 16px;
        }

        .filters-chips {
          flex: 1 100%;

          .label {
            color: $sub-text-color;
          }
        }

        #filter-modal--show-btn {
          margin-right: 0;
        }

        #filter-modal {
          .filter-search-wrapper {
            table {
              width: 100%;

              tr {
                td {
                  padding: 8px 0;

                  input {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 8px;
                  }
                }
              }
            }

            .action-footer {
              text-align: right;

              #filter-modal--apply-btn {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
      }

      .settings-wrapper {
        position: relative;
        padding-left: 32px;

        > .mdl-button {
          color: $primary-color;
        }

        #settings-modal {
          .mdl-list {
            .mdl-checkbox {
              .mdl-checkbox__label {
                white-space: nowrap;
              }
            }
          }
        }
      }
    }

    .table-block {
      flex: 1 100%;
      padding: 16px;
      overflow-y: auto;

      #base-list__table {
        width: 100%;
        border: 0;

        th {
          text-align: center;

          &.sort {
            &:hover {
              cursor: pointer;
              text-decoration: none;
            }

            &:focus {
              outline:none;
            }

            &:after {
              display:inline-block;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid transparent;
              content:"";
              position: relative;
              top:-10px;
              right:-5px;
            }
            &.sort-asc:after {
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid black;
              content:"";
              position: relative;
              top:4px;
              right:-5px;
            }
            &.sort-desc:after {
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid black;
              content:"";
              position: relative;
              top:-4px;
              right:-5px;
            }
          }
        }
        tbody {
          td {
            text-align: center;
          }

          tr:nth-child(even) td {
            background-color: #F5F5F5;
          }
        }
      }
    }

    .footer {
      flex: 0 1 auto;
      padding: 16px;
      border-top: 1px solid $divider-color;
    }
  }
</style>
