<template>
  <section class="router-container">
    <div class="router-container__main-wrapper mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <base-navigation/>
      <main class="mdl-layout__content">
        <div class="content-wrapper">
          <router-view/>
        </div>
      </main>
    </div>
  </section>
</template>

<script>
  import baseNavigation from '@/components/base-navigation';

  export default {
    name: 'router-container',
    components: {
      baseNavigation
    },
    data: () => ({}),
  };
</script>

<style lang="scss">
  @import "~global";

  .router-container {
    @extend %full-screen;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .router-container__main-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;

      #base-navigation {
        flex: 0 1 auto;
      }

      .mdl-layout__content {
        flex: 1 100%;
        margin-left: 0;

        .content-wrapper {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
</style>
