<template>
  <div
  v-click-outside="'close'"
  class="base-menu-popover mdl-shadow--2dp"
  :style="`width: ${width};`"
  :id="id">
    <slot/>
  </div>
</template>

<script>
  export default {
    name: 'base-menu-popover',
    props: {
      id: {
        type: String,
        required: true
      },
      width: {
        type: String,
        default: '100%'
      }
    },
    data: () => ({})
  };
</script>

<style lang="scss">
  @import "~global";

  .base-menu-popover{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    padding: 16px;
    background-color: white;
    box-sizing: border-box;
  }
</style>
