<template>
  <div class="transport-router">
    <div class="title">
      {{ $gettext('Transport Router') }}
    </div>

    <div class="content">
      <button
      v-mdl
      @click="notifa"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">
        notifa
      </button>

      <br>

      <button
      v-mdl
      @click="notifa1"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">
        notifa1
      </button>

      <br>

      <button
      v-mdl
      @click="onShowDialog"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">
        showDialog
      </button>

      <br>

      <button
      v-mdl
      @click="close"
      class="mdl-button mdl-js-button mdl-js-ripple-effect">
        close
      </button>
    </div>
  </div>
</template>

<script>
  import notifier from 'electron-notifications';
  import { remote, ipcRenderer } from 'electron';
  import path from 'path';

  export default {
    name: 'transport-router',
    components: {},
    methods: {
      close() {
        const window = remote.getCurrentWindow();
        window.close();
      },
      notifa() {
        const window = remote.getCurrentWindow();
        window.minimize();
        const myNotification = notifier.notify('Title', {
          message: 'message message message message message message',
          buttons: ['OK', 'Cancel'],
          icon: false,
          vetical: true,
          duration: 99999999999999,
        });

        myNotification.on('clicked', () => {
          myNotification.close();
        });

        myNotification.on('swipedRight', () => {
          myNotification.close();
        });

        myNotification.on('buttonClicked', (text) => {
          if (text === 'OK') {
            window.restore();
            myNotification.close();
          } else if (text === 'Cancel') {
            window.restore();
            myNotification.close();
          }
        });
      },
      notifa1() {
        ipcRenderer.send('show-notification');
      },
      onShowDialog() {
        ipcRenderer.send('open-information-dialog', {
          // type: 'question',
          icon: path.join(__dirname, '../../../../build/icons/256x256.png'),
          title: 'Information',
          message: 'This is an information dialog.',
          detail: 'It does not really matter',
          checkboxLabel: 'checkboxLabel',
          checkboxChecked: true,
          buttons: ['Yes', 'No', 'Cancel']
        });

        ipcRenderer.on('information-dialog-selection', (event, response, checkboxChecked) => {
          let message = 'You selected ';
          if (response === 0) message += 'yes.';
          else if (response === 1) message += 'no.';
          else message += 'cancel.';
          console.log(response, message, `checkboxChecked: ${checkboxChecked}`);
        });

        // const options = {
        //   type: 'question',
        //   buttons: ['Cancel', 'Yes, please', 'No, thanks'],
        //   defaultId: 2,
        //   title: 'Question',
        //   message: 'Do you want to do this?',
        //   detail: 'It does not really matter',
        //   checkboxLabel: 'Remember my answer',
        //   checkboxChecked: true,
        // };
        // dialog.showMessageBox(null, options, (response, checkboxChecked) => {
        //   console.log(response);
        //   console.log(checkboxChecked);
        // });
      }
    }
  };
</script>

<style lang="scss">
  @import "~global";

  .transport-router {
    .content {
      .mdl-button {
        width: 100%;
      }
    }
  }
</style>

