<template>
  <div class="streams-router">
    Streams Router
  </div>
</template>

<script>
  export default {
    name: 'streams-router',
    components: {},
    methods: {},
    computed: {},
    data: () => ({}),
    watch: {}
  };
</script>

<style lang="scss">
  @import "~global";

  .streams-router {}
</style>
