<template>
  <div
  v-mdl
  class="base-input mdl-textfield mdl-js-textfield"
  :class="{
    'mdl-textfield--floating-label': floatingLabel
  }">
    <i
    v-if="prependIcon"
    @click="$emit('prependCB')"
    class="base-input__prepend-icon material-icons mdl-color-text--grey-700"
    :id="`${id}--prepend-icon`">
      {{ prependIcon }}
    </i>

    <input
    v-mdl
    @keyup="onChange($event)"
    :type="type"
    :required="required"
    :value="value"
    :disabled="disabled"
    :readonly="readonly"
    :placeholder="placeholder"
    class="mdl-textfield__input"
    :class="{
      'input--prepend-icon': prependIcon,
      'input--append-icon': appendIcon
    }"
    :id="`${id}-input`">

    <i
    v-if="appendIcon"
    @click="$emit('appendCB')"
    class="base-input__append-icon material-icons mdl-color-text--grey-700"
    :class="{
      'icon-callback': false
    }"
    :id="`${id}--append-icon`">
      {{ appendIcon }}
    </i>

    <label
    v-if="label"
    :for="`${id}-input`"
    class="mdl-textfield__label">
      {{ label }}
    </label>
  </div>
</template>

<script>
  export default {
    name: 'base-input',
    props: {
      id: {
        type: String,
        default: 'base-input'
      },
      label: {
        type: String,
        default: null
      },
      prependIcon: {
        type: String,
        default: null
      },
      appendIcon: {
        type: String,
        default: null
      },
      placeholder: {
        type: String,
        default: null
      },
      value: {
        type: [String, Number],
        default: ''
      },
      type: {
        type: String,
        default: 'text'
      },
      required: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      readonly: {
        type: Boolean,
        default: false
      },
      tooltip: {
        type: String,
        default: null
      },
      floatingLabel: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      onChange(event) {
        this.$emit('update:value', event.srcElement.value);
        this.$emit('onChangeValue', event.srcElement.value);
      },
    }
  };
</script>
<style lang="scss">
  @import '~global';

  .base-input {
    position: relative;
    width: 100%;
    border: 1px solid $divider-color;
    border-radius: 2px;
    padding: 0;
    max-height: 100%;
    height: 46px;

    &.is-focused {
      border-color: $primary-color;
    }

    .mdl-textfield__input {
      height: 100%;
      padding: 8px;
      box-sizing: border-box;
      border-bottom: 0;

      &.input--prepend-icon {
        padding-left: 38px;
      }
      &.input--append-icon {
        padding-right: 38px;
      }
    }

    &.mdl-textfield--floating-label {
      .mdl-textfield__label {
        height: auto;
        width: auto;
        right: auto;
        bottom: auto;
        left: 4px;
        top: 50%;
        margin-top: -8px;
        color: #707070;
        &:after{
          background: transparent !important;
        }
      }

      &.is-focused,
      &.is-dirty {
        .mdl-textfield__label {
          top: -6px;
          margin-top: 0;
          left: 10px;
          height: 12px;
          right: auto;
          width: auto;
          background-color: #333333;
          padding: 0 5px;
        }
      }
    }

    .base-input__prepend-icon {
      position: absolute;
      left: 8px;
      top: 50%;
      margin-top: -12px;
      cursor: default;

      &.icon-callback {
        cursor: pointer;
      }
    }

    .base-input__append-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -12px;
      cursor: default;

      &.icon-callback {
        cursor: pointer;
      }
    }

    &.is-dirty {
      .base-input__prepend-icon {
        color: $primary-color !important;
      }

      .base-input__append-icon {
        color: $primary-color !important;
      }
    }
  }
</style>
